header {
    display: flex;
    justify-content: center;
}

/*grid/event styling*/
#grid {
    display: grid;
    grid-template-columns: auto;
    gap: 5px;
    padding: 5px;
    border: 1px solid red;
    margin: 0 50px 0 50px;
}

.event-container {
    border: 1px solid purple;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

h2 {
    margin: 0;
}

.event-container p {
    width: 70%;
    text-align: center;
}

/*mouse events*/
#reveal-msg {
    font-weight: bold;
    color: green;
}

/*keyboard events*/
#keyboard-msg {
    font-weight: bold;
    color: green;
    margin: 0;
    padding: 0;
}

/*form events*/
#form-msg {
    font-weight: bold;
    color: green;
}

/*focus & blur*/
#focus-msg {
    font-weight: bold;
    color: green;
}

/*event delegation*/
#btn-msg {
    font-weight: bold;
    color: green;
}

/*footer*/
footer {
    display: flex;
    justify-content: center;
}